@import './variables.import.styl'
button
	font-stack( "Helvetica" )
	background none
	display inline-block
	padding 7px 14px
	font-size 14px
	font-weight 400
	color #fff
	text-align center
	border-radius 3px
	letter-spacing 1px
	transition background 200ms ease
	outline 0
	&.btn
		border-radius 6px
		font-size responsive 14px 18px
		&.btn-primary
			background rgba(blue, 0.1)
			color darken(blue,40)
			border 3px solid darken(blue,40)
		&.btn-success
			background rgba(green, 0.05)
			color darken(green,20)
			border 3px solid darken(green,20)
			transition background 200ms ease
			&:hover
				background rgba(green, 0.1)
		
		
// ICON BUTTONS
.btn
	cursor pointer
	fontsizer(18px, 24px)

