@import './variables.import.styl'
button
	font-stack( "Helvetica" )
	background none
	display inline-block
	padding 7px 14px
	font-size 14px
	font-weight 400
	color #fff
	text-align center
	border-radius 3px
	letter-spacing 1px
	transition background 200ms ease
	outline 0
	&.btn
		border-radius 6px
		font-size 14px
		background rgba(gray, 0.01)
		color darken(gray,55)
		border 1px solid darken(gray,55)
		&:hover
			background rgba(gray, 0.1)
		&.btn-primary
			background rgba(blue, 0.01)
			color darken(blue,55)
			border 1px solid darken(blue,55)
			&:hover
				background rgba(blue, 0.1)
		&.btn-success
			background rgba(green, 0.05)
			color darken(green,20)
			border 1px solid lighten(green,5)
			transition background 200ms ease
			&:hover
				background rgba(green, 0.1)
		&.btn-warning
			background rgba(orange, 0.05)
			color darken(orange,20)
			border 1px solid darken(orange,20)
			transition background 200ms ease
			&:hover
				background rgba(orange, 0.1)
		&.btn-danger
			background rgba(red, 0.05)
			color darken(red,20)
			border 1px solid darken(red,20)
			transition background 200ms ease
			&:hover
				background rgba(red, 0.1)
	&.rnd
		border-radius 100%
		border 1px solid transparent
		width 40px
		height 40px
		padding 0
		i
			color lighten(darktint, 20)
			font-size 18px
			transition color 300ms ease
		&:hover
			i
				color darktint
	&.disabled
		pointer-events none
		opacity 0.3
.btn-group
	&.center
		text-align center

// ICON BUTTONS
.btn
	cursor pointer
	fontsizer(18px, 24px)

