@import './variables.import';
*
	box-sizing border-box
html,body
	font-family font-stack( "Helvetica" )
	margin 0
	padding 0
	height 100%
	
input, select, textarea
	&:focus, &:active
		outline none
header
	position absolute
	top 0
	left 0
	width 100%
	min-height 40px
	
ul, li
	padding 0
	margin 0
	
.backdrop
	background rgba(0,0,0,0.99)
	fixed 0 0 0 0
	width 100%
	height 100%
	z-index 1002
	
.autocomplete
	absolute 90% false false 0
	width 100%
	border 1px solid #eaae6b
	border-top 0
	border-radius 0 0 12px 12px
	background #000
	z-index 999
	max-height 300px
	overflow auto
	
	
.thumbnail
	@extend .vh-center
	border-radius 50%
	border 4px solid rgba(orange, 0.5)
	background-color orange
	background-repeat no-repeat
	background-position 50% 50%
	background-size auto
	cursor pointer
	margin 0 auto
	&.loading
		background-image url('/img/loader.svg')
