@import './variables.import.styl'
// OPTIONS

// MARGINS
for size,value in margin
	.mt-{size}
		margin-top value
	.mb-{size}
		margin-bottom value
	.ml-{size}
		margin-left value
	.mr-{size}
		margin-right value
	.pt-{size}
		padding-top value
	.pb-{size}
		padding-bottom value
	.pl-{size}
		padding-left value
	.pr-{size}
		padding-right value

.clearfix:after
	content ''
	display block
	visibility hidden
	height 0
	clear both
.right
	float right
.left
	float left
.txt-right
	text-align right
.vh-center
	position relative
	& > *:not(.uncenter):first-child
		position absolute 50% false false 50%
		transform translate(-50% ,-50%)
.v-center
	absolute 50% false false false
	transform translate(0,-50%)
.h-center
	absolute false false false 50%
	transform translate(-50%,0)
// absolute positions
.r-corner
	absolute 15px 15px false false
	color #fff
	
.la-middle
	lost-align middle
.la-ml
	lost-align middle-left
	
// COLORS
.red
	color red
.orange
	color orange
.dark
	color dark
.gray
	color gray
.gray-lt
	color lighten(gray, 70)
.half-height
	height 50vh