@import '../../../node_modules/rupture/rupture/index';
@import './variables.import.styl'
// OPTIONS
// breakpoints
bp = {
	mobile: 640px,
	mid: 570px,
	tablet: 769px,
	base: 1024px,
	big: 1200px,
	bigger: 1600px,
	max: 1880px
}

.clear
	clear both
.clearfix:after
	content ''
	display block
	visibility hidden
	height 0
	clear both
.right
	float right
.left
	float left
.txt-right
	text-align right
.vh-center
	position relative
	& > *:not(.uncenter):first-child
		position absolute 50% false false 50%
		transform translate(-50% ,-50%)
	&-all > *:not(.uncenter)
		position absolute 50% false false 50%
		transform translate(-50% ,-50%)
.v-center
	absolute 50% false false false
	transform translate(0,-50%)
.h-center
	absolute false false false 50%
	transform translate(-50%,0)
// absolute positions
.r-corner
	absolute 15px 15px false false
	color #fff
	
.la-middle
	lost-align middle
.la-ml
	lost-align middle-left
	
// COLORS
.red
	color red !important
.orange
	color orange !important
.dark
	color dark
.gray
	color gray
.gray-lt
	color lighten(gray, 70)
.half-height
	height 50vh


// margins + padding aliases
spaces = {
	mt: margin-top,
	mb: margin-bottom,
	ml: margin-left,
	mr: margin-right,
	pt: padding-top,
	pb: padding-bottom,
	pl: padding-left,
	pr: padding-right,
}
margins = {
	min:10px,
	small:20px,
	med:30px,
	big:50px,
	bigger:70px,
	max:100px
}
// margin 
for alias, prop in spaces
	for size,value in margins
		.{alias}-{size}
			{prop} value
			+below(bp.tablet)
				{prop} round((value/1.6))
			+below(bp.mobile)
				{prop} round((value/2))


// positioning
self-center(dir=both)
	position absolute
	if (dir==vertical)
		top 50%
		transform translateY(-50%)
	else if (dir==horizontal)
		left 50%
		transform translateX(-50%)
	else
		top 50%
		left 50%
		transform translate(-50%,-50%)