sizes = { big: 10, med: 8,  base:6, small: 4, tiny: 2};
fontsize = { big:32, med:24, base:16, small:14, tiny:10};

// colors
red = #ea6b6b
orange = #e7a255
blue = #b0fcff
darkblue = #3c6c79
gray = #202020
green = #86d040